*{
  padding:0;
  margin:0;
}
.row{
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
}
form{
  display:flex;
  flex-direction: column;
  width: 500px;
}
label{
  display:flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
}
#logoButton{
  margin-right:10px;
}
.switch {
  position: relative;
  display: inline-block;
  height: 20px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  
  width: 100%;
}
.switch::after {
  content: '';
  position: absolute;
  width: 35%;
  height: 18px;
  border-radius:5px;
  background-color: #ecd1ce;
  opacity: 30%;
  top: 1px;
  transition: all 0.3s;
  left : 10%;
}

.checkbox:checked + .switch::after {
  left : 55%;
}
.checkbox:checked + .switch {
  background-color: #white;
}
.checkbox {
  display : none;
}
span{
  text-align: center;
  padding-left:30px;
  padding-right:30px;
}
/*
.weight{
    background-color: #eee;
    transition: all 0.3s;
}

.weight:hover {
  background-color: #ccc;
  transition: all 0.3s;
}

.weightContainer input:checked + .weight {
  background-color: #2196F3;
  transition: all 0.3s;
}*/
.weightContainer input{
  display:none;
}
.weightContainer{
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding:1px;
}

.replacement {
  content: '';
  position: absolute;
  width: 25%;
  height: 18px;
  border-radius:5px;
  background-color: #ecd1ce;
  opacity: 30%;
  top: 1px;
  transition: all 0.3s;
  left:0%;
}
#twentyfive:checked ~ .replacement {
  left:0%;
}
#fifty:checked ~ .replacement {
  left:25%;
}
#seventyfive:checked ~ .replacement {
  left:50%;
}
#hundred:checked ~ .replacement {
  left:75%;
}


.sideBar {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.sideBar input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.customRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.sideBar:hover input ~ .customRadio {
  background-color: #ccc;
}


.sideBar input:checked ~ .customRadio {
  background-color: white;
}

.sideBar input:checked ~p{
  color: white;
}

.customRadio:after {
  content: "";
  position: absolute;
  display: none;
}


.sideBar input:checked ~ .customRadio:after {
  display: block;
}


.sideBar .customRadio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #545871;
}

#box{
  width: 100%;
  height:100%;
  padding:100px
}

.menu
{
  display:flex; 
  flex-direction: column;
  justify-content: space-between;
  background-color: #545871;
  border-radius: 20px 0px 0px 20px;
  padding: 50px;
}
h1{
  text-align: center;
}
#backButton{
  color:#545871;
  background-color: white;
  border: #545871 2px solid;
  border-radius: 20px;
}
#nextButton{
  color:white;
  background-color: #545871 ;
  border-radius: 20px;
}
#main{
  background-color: #f7eceb;
  color:#545871;
  border-radius: 0px 20px 20px 0px;
  padding: 50px;
}
input{
  border-radius: 20px;
  border-style: none;
  padding: 5px;
}
/*
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
*/