*{
  padding:0;
  margin:0;
}
.row{
  display:flex;
  flex-direction: row;
  padding-bottom: 20px;
}
form{
  display:flex;
  flex-direction: column;
  width: 500px;
}
label{
  display:flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
}
#logoButton{
  margin-right:10px;
}
.switch {
  position: relative;
  display: inline-block;
  height: 20px;
  background-color: #7983ff;
  border-radius: 20px;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  
  width: 100%;
}
.switch::after {
  content: '';
  position: absolute;
  width: 35%;
  height: 18px;
  border-radius:5px;
  background-color: white;
  opacity: 30%;
  top: 1px;
  transition: all 0.3s;
  left : 10%;
}

.checkbox:checked + .switch::after {
  left : 55%;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display : none;
}
span{
  text-align: center;
  padding-left:30px;
  padding-right:30px;
}
/*
.weight{
    background-color: #eee;
    transition: all 0.3s;
}

.weight:hover {
  background-color: #ccc;
  transition: all 0.3s;
}

.weightContainer input:checked + .weight {
  background-color: #2196F3;
  transition: all 0.3s;
}*/
.weightContainer input{
  display:none;
}
.weightContainer{
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.replacement {
  content: '';
  position: absolute;
  width: 25%;
  height: 18px;
  border-radius:5px;
  background-color: red;
  opacity: 30%;
  top: 1px;
  transition: all 0.3s;
  left:0%;
}
#twentyfive:checked ~ .replacement {
  left:0%;
}
#fifty:checked ~ .replacement {
  left:25%;
}
#seventyfive:checked ~ .replacement {
  left:50%;
}
#hundred:checked ~ .replacement {
  left:75%;
}
/*
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
*/